.article-content{
    display: flex;
    flex-direction: column;
}

.article-title{
    /* text-align: center; */
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: solid 2px lightgray;
}

.article-body{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}