.comment-card{
    margin: 15px;
}
.comment-header{
    padding: 0 10px;
}

.comment-body {
    border: solid lightgray 2px;
    border-radius: 10px;
    padding: 10px;
}

.comment-votes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px; 
}

.delete-err-msg{
    color: red;
    text-align: center;
}