.page-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 3px black;
    padding: 25px;
    background-color: blue;
    color: white;
    font-size: larger;
    font-family:sans-serif;
}

.header-title{
    margin: 0 auto; 
}

.home-button{
    position: absolute;
}
